---
import Contactohero from "../../components/pages/contacto/Contactohero.astro";
import ContactCanales from "../../components/pages/contacto/ContactCanales.astro";
import ContactHorarios from "../../components/pages/contacto/ContactHorarios.astro";
import ContactRedes from "../../components/pages/contacto/ContactRedes.astro";
import ContactUbicacion from "../../components/pages/contacto/ContactUbicacion.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Contaacto| Maxilodental Studio">

    <main class="bg-[#f5f1ef] text-[#171717]" >
        <Contactohero></Contactohero>
   <ContactCanales /> 
    <ContactRedes />
    <ContactUbicacion />
    <ContactHorarios />  
    </main>
         
  


 
</Layout>