---

import Layout from "../../layouts/Layout.astro";
import CasosHero from "../../components/pages/casos/casosHero.astro";
import Casosgrid from "../../components/pages/casos/casosgrid.astro";

---

<Layout title="Casos Clinicos | Maxilodental Studio">
  <main class="">
     <CasosHero />
     <Casosgrid />
  </main>
</Layout>
